.expert-option{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.expert-option-container{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}