/* .container{
    width: 100%;
    height: 100%;
} */

.editor{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

.left-panel{
    position: absolute;
    left: 0;
    top: 0;
    background-color: hsl(0, 0%, 50%);
    color: white;
    height: 100%;
    width: 10vw;
    z-index: 1;
}

.left-panel > .left-pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    gap: 50px;
}

.left-pane > .shape-rect {
    width: 80px;
    height: 80px;
    background: #d99d26;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.left-pane > .shape-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #a2e619;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-pane > .shape-wall{
    width: 100px;
    height: 20px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}

.canvas{
    width: 100%;
    height: 100%;
    margin: 0;
}

.right-panel{
    position: absolute;
    right: 0;
    top: 0;
    background-color: hsl(0, 0%, 50%);
    color: white;
    height: 100%;
    width: 10vw;
    z-index: 1;
}